.step(
  data-title='What Does This Thing Do?'
  data-file='index.js')
  :markdown
    ## What Does This Thing Do?

    This application allows you to make a call from your browser. It has the
    following main features:

    1. You can mute/unmute your audio.
    1. Send DTMF touch tones by pressing the key pad.

    This tutorial highlights the key bits of code that make this application
    work. [Check out the project README on GitHub](https://github.com/TwilioDevEd/browser-dialer-vue)
    to see how to run the code yourself.

    Let's get started.

    ---

    **See also:**

    - [Dual-Tone Multi-Frecuency Signaling](//en.wikipedia.org/wiki/Dual-tone_multi-frequency_signaling)

.step(
  data-title='Generate a Capability Token'
  data-file='index.js',
  data-highlight='13-25')
  :markdown
    ## Generate a Capability Token

    The Twilio.js Client requires a capability token to work. The capability
    token give our browser an identity and grant it privileges to make an
    outbound call.

    We use the [Twilio Node Helper Library](//www.twilio.com/docs/libraries/node)
    to generate and configure our capability token.
    We have to configure a capability token with the SID of a Twilio
    Application to allow outgoing calls.

    ---

    **See also:**
    - [Twilio Client: Capability Tokens](//www.twilio.com/docs/api/client/capability-tokens)
    - [Capability Tokens: Allow Outgoing Connections](//www.twilio.com/docs/api/client/capability-tokens#allow-outgoing-connections)

.step(
  data-title='Set Up the Twilio Device'
  data-file='public/dialer.js',
  data-highlight='35-42, 50-52')
  :markdown
    ## Set Up the Twilio Device

    First of all, we have to [include the Twilio.js library](//www.twilio.com/docs/api/client/twilio-js#including-js).

    We retrieve the capability token from the route **/token** with a POST
    request. The token is required to intialize the `Twilio.Device` will
    activate the device granting privileges to make an outbound call. The
    initialization is done by passing the capability token to
    `Twilio.Device.setup`.

    The `Twilio.Device.ready` callback serves to notify when the device is ready
    to make calls.

    ---

    **See also:**
    - [Twilio.Device.setup](//www.twilio.com/docs/api/client/device#setup)
    - [Twilio.Device.ready](//www.twilio.com/docs/api/client/device#ready)

.step(
  data-title='Make a Call'
  data-file='public/dialer.js',
  data-highlight='80-82')
  :markdown
    ## Make a Call

    First we have to build the phone number. It requires a **+** sign, then a
    country code and finally the actual number.

    We use `Twilio.Device.connect` to make an outbound call. In this
    implementation we pass the phone number as a parameter to the Twilio
    application associated with this device's capability token.

    ---

    **See also:**
    - [Twilio.Device.connect](//www.twilio.com/docs/api/client/device#connect)

.step(
  data-title='Mute and Unmute an Active Call'
  data-file='public/dialer.js',
  data-highlight='68-72')
  :markdown
    ## Mute and Unmute an Active Call
